<div class="option cui_colorpicerCUI">
  <div class="cui_colorPicker">
    <label data-cui-label-id="{{id}}" class="cui_sample" data-cui-id="{{id}}" 
           data-cui-option-type="{{type}}">{{name}}:
    </label>
    <div class="cui_divColor {{id}}">
      <div class="colorSelector">
        <div style="background-color: {{color}}">
        </div>
      </div>
    </div>
  </div>
</div>
