<div class="option cui_number">
  <div class="cui_sampleCustonOption">
    <label data-cui-label-id="{{id}}" for="{{id}}" class="cui_sample" data-cui-id="{{id}}" data-cui-option-type="{{type}}">{{name}}: 
    </label>
    <input type="number" name="{{id}}" min="{{min}}" max="{{max}}" cui-input-number-id="{{id}}" value="{{defaultVal}}"/></div>
</div>
