<div class="option cui_slider"><div class="cui_wrapperSlider">
  <label data-cui-label-id="{{id}}" for="slider{{id}}" class="cui_sample" 
         data-cui-id="{{id}}" data-cui-option-type="{{type}}">
    {{name}}:
  </label>
  <div class="slider{{id}} ui-slider ui-slider-horizontal ui-widget
                                ui-widget-content ui-corner-all"
                                aria-disabled="false">
  </div>
  <span class="cui-sliderInfo{{id}} cui_slider">{{defaultVal}}</span>
  </div>
</div>
