<div class="option cui_checkbox">
  <div class="cui_wrapperCheckbox">
    <label data-cui-label-id="{{id}}" class="share-label cui_sample" data-cui-id="{{id}}" data-cui-option-type="{{type}}">{{name}}:
    </label>
    <div class="cui_sampleSwitch"><div>
      <input name="checkbox{{id}}"
             id="checkbox{{id}}" type="checkbox" data-toggle="switch" {{defaultVal}}>
      </div>
    </div>
  </div>
</div>
