<div class="option cui_select">
  <div class="cui_wrapperSelect">
    <label for="spinner" data-cui-label-id="{{id}}" class="cui_sample" data-cui-id="{{id}}" data-cui-option-type="{{type}}">{{name}}: 
    </label>
    <div class="span3">
      <select name="herolist" value="0" class="select-block span3" id="{{id}}">

      </select>
    </div>
  </div>
</div>
