<% @title = "[カラアゲ] Karaage | Blog" %>
<div class="container">
  <h1 id="home-level-editing-header">Developer's Blog</h1>
  <p>Here is where all the magic happens. Updates about what we are doing appear here!</p>
  <br />
  <div class="row">
    <div class="col-sm-10">
      <% @allPosts.each do |post| %>
        <div class="media">
          <div class="media-left">
            <p><%= image_tag post.user.user_profile_url, class: "media-object media-user-icon" %></p>
            <p class="text-center"><strong><%= post.user.user_first_name + " " + post.user.user_last_name%></strong></p>
          </div>
          <div class="media-body">
            <h3 class="media-heading"><%= link_to post.post_title, action: 'view', id: post.id %> <small>posted <%= post.post_date.strftime("%d %B %Y") %></small></h3>
            <div>
              <%= post.post_content.html_safe %>
            </div>
          </div>
        </div>
        <hr />
      <% end %>
    </div>
    <div class="col-sm-2">
      <h3>Activity</h3>
      <dl>
        <% @months.sort.reverse.each do |month, posts| %>
          <dt><%= month.strftime("%B") %> (<%= posts.count %>)</dt>
          <dd>
            <% posts.sort! { |a,b| a.post_date <=> b.post_date }%>
            <% posts.reverse.each do |post| %>
              <p><%= link_to post.post_title, action: 'view', id: post.id %></p>
            <% end %>
          </dd>
        <% end %>
      </dd>
    </div>
  </div>
  <ul class="pager">
    <% if params[:id].to_f > 0 %>
      <li class="previous"><%= link_to '<span aria-hidden="true">&larr;</span> Older'.html_safe, action: 'index', id: params[:id].to_i - 1 %></li>
    <% end %>
    <% if (params[:id].to_f + 1) * 5 < @postCount and params[:id].to_f >= 0%>
      <li class="next"><%= link_to 'Newer <span aria-hidden="true">&rarr;</span>'.html_safe, action: 'index', id: params[:id].to_i + 1 %></li>
    <% end %>
  </ul>
</div>