<% @title = "[カラアゲ] Karaage | " + @post.post_title %>
<div class="container">
  <h1><%= @post.post_title%> <small>posted <%= @post.post_date.strftime("%d %B %Y") %></small></h1>
  <div class="media">
    <div class="media-left">
      <p><%= image_tag @post.user.user_profile_url, class: "media-object media-user-icon" %></p>
      <p class="text-center"><strong><%= @post.user.user_first_name + " " + @post.user.user_last_name%></strong></p>
    </div>
    <div class="media-body">
      <div>
        <%= @post.post_content.html_safe %>
      </div>
    </div>
  </div>
</div>