<hr />
<div class="container">
  <div class="row">
  	<div class="col-md-2">
      <h4>Karaage</h4>
  		<ul class="list-unstyled">
  			<li><%= link_to 'Home', '/' %></li>
        <li><%= link_to 'Blog', {controller: 'blog', action: 'index'} %></li>
        <li><%= link_to 'Contact us', {action: 'contact'} %></li>
        <li><%= link_to 'Facebook', 'https://www.facebook.com/karaage.editor' %></li>
      </ul>
    </div>
    <div class="col-md-2">
      <h4>Stanford</h4>
      <ul class="list-unstyled">
        <li><%= link_to 'Stanford University', 'https://www.stanford.edu' %></li>
        <li><%= link_to 'Stanford CS210 Home', 'https://cs210.stanford.edu' %></li>
      </ul>
    </div>
    <div class="col-md-2">
      <h4>Unreal Engine</h4>
      <ul class="list-unstyled">
        <li><%= link_to 'Epic Games', 'http://epicgames.com/' %></li>
        <li><%= link_to 'Unreal Engine', 'https://www.unrealengine.com/what-is-unreal-engine-4' %></li>
      </ul>
    </div>
  </div>
  <p><small>&copy; 2015 by Karaage / カラアゲ. All rights reserved.</small></p>
</div>